* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

body {
  font-family: 'Proxima Nova Regular', sans-serif;
  color: #262626;
}

.section {
  padding: 100px 0;
}

.section__title {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Proxima Nova Bold', sans-serif;
  margin-bottom: 100px;
}

.button-o {
  text-transform: uppercase;
  border: 2px solid #507fe1;
  color: #507fe1;
  padding: 17px 22px;
  font-size: 12px;
  font-family: 'Proxima Nova Bold', sans-serif;
  background: transparent;
}

.button {
  text-transform: uppercase;
  padding: 25px 45px;
  border: none;
  background-color: #507fe1;
  color: #ffffff;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.catalog-card__button {
  text-transform: uppercase;
  padding: 10px;
  border: none;
  font-size: 12px;
  height: 30px;
}

@media (max-width: 768px) {
  .section {
    margin-bottom: 50px 0;
  }
  .section__title {
    font-size: 24px;
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__mobile {
  text-align: right;
}

.navbar__phone, .navbar__landline {
  font-size: 19px;
  display: block;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #262626;
  text-decoration: none;
  margin-bottom: 5px;
}

.navbar__small-text {
  display: block;
  font-size: 14px;
  color: #7b7b79;
  text-decoration: none;
}

.navbar .menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: none;
  border-right: 1px solid #d9cbf8ce;
  border-left: 1px solid #d9cbf8ce;
  height: 80px;
  width: 70px;
}

.navbar .menu-button__line {
  width: 20px;
  height: 3px;
  background-color: #4285f4;
  margin: 2px 0;
}

.logo__text {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Bold', sans-serif;
  margin-bottom: 5px;
}

.logo__description {
  color: #7b7b79;
}

.menu {
  z-index: 0;
  position: fixed;
  top: 80px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  left: 0;
  background-color: #507fe1;
  color: #ffffff;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}

.menu_active {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  opacity: 1;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu__link {
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 991px) {
  .navbar__mobile, .navbar__landline {
    display: none;
  }
}

@media (max-width: 576px) {
  .menu {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__link {
    margin-bottom: 20px;
  }
  -button {
    height: 60px !important;
  }
  .logo {
    display: none;
  }
}

.hero {
  background-color: #f1f1f1;
  background-image: url("../img/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 80px;
  padding-top: 120px;
  padding-bottom: 270px;
}

.hero__title {
  max-width: 262px;
  font-size: 30px;
  font-family: 'Proxima Nova Regular', sans-serif;
  font-weight: 500;
  margin-bottom: 40px;
}

.hero__subtitle {
  display: block;
  font-size: 30px;
  font-family: 'Proxima Nova Bold', sans-serif;
  margin-bottom: 67px;
}

@media (min-width: 992px) and (max-width: 1700px) {
  .hero {
    background-size: cover;
    background-position: top left 30%;
  }
}

@media (max-width: 991px) {
  .hero {
    background-size: cover;
    background-position: top left 30%;
  }
}

@media (max-width: 576px) {
  .hero {
    margin-top: 60px;
    background-position: top left 35%;
  }
}

.offer {
  padding: 129px 0;
}

.offer-price {
  padding-bottom: 20px;
}

.offer-secondary {
  background-color: #f1f1f1;
}

.offer-block {
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  padding: 80px;
  margin-top: -220px;
  background: url("../img/offer-bg.png") no-repeat center right;
  background-color: #ffffff;
  background-size: contain;
}

.offer-block-price {
  background: url("../img/offer-bg-2.png") no-repeat center right;
  background-size: contain;
  background-blend-mode: multiply;
  background-color: #ffffff;
}

.offer__title {
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 15px;
  font-family: 'Proxima Nova Bold', sans-serif;
}

.offer__subtitle {
  display: block;
  max-width: 750px;
  font-size: 21px;
  margin-bottom: 40px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  margin-bottom: 15px;
}

.form__row:nth-child(3) {
  margin-bottom: 0;
}

.form__group {
  width: 100%;
}

.form__group-w {
  width: 38%;
  margin-right: 45px;
  text-align: center;
}

.form__input {
  width: 100%;
  height: 80px;
  padding-left: 30px;
  border: 1px solid #ddd;
}

.form__input:nth-child(2) {
  border-right-width: 0;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  margin-bottom: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__checkbox-check {
  display: none;
}

.form__checkbox-check:checked + .checkbox__label:before {
  background-color: #507fe1;
}

.form__button {
  width: 100%;
  height: 80px;
}

.form__policy {
  max-width: 280px;
}

.checkbox__label {
  padding-right: 20px;
  cursor: pointer;
}

.checkbox__label:before {
  content: '';
  width: 30px;
  display: inline-block;
  height: 30px;
  border: 1px solid #ddd;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 20px;
}

@media (max-width: 1199px) {
  .offer-block {
    background-position: center right -100px;
  }
}

@media (max-width: 991px) {
  .offer-block {
    background-position: center right -120px;
  }
  .offer__subtitle {
    max-width: 480px;
  }
}

@media (max-width: 768px) {
  .offer-block {
    background-image: none;
    padding: 20px;
  }
  .form__group {
    width: 100%;
    margin-bottom: 25px;
  }
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__policy {
    max-width: 100%;
    text-align: center;
  }
  .form__input {
    margin-bottom: 15px;
    border-right-width: 1px !important;
  }
  .form__row-checkbox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .form__group-w {
    width: 65%;
    margin-bottom: 30px;
  }
  .form__row-w {
    display: block;
  }
  .form__policy {
    display: block;
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .form__group-w {
    margin-right: 80px;
  }
  .form__button-w {
    width: auto !important;
  }
}

@media (max-width: 400px) {
  .form__button-w {
    padding: 25px 0;
    font-size: 14px;
  }
}

.feature-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature-block__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  text-align: center;
  margin-bottom: 80px;
}

@media (max-width: 991px) {
  .feature-block__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 576px) {
  .feature-block__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 50px;
  }
}

.catalog {
  background-color: #f1f1f1;
}

.catalog__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__card {
  margin-bottom: 30px;
  max-width: 570px;
}

.catalog__link {
  text-align: center;
  padding-top: 60px;
}

.catalog__button {
  display: inline-block;
  margin-bottom: 24px;
}

.catalog__description {
  display: block;
}

.catalog-card {
  position: relative;
  -webkit-box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
  max-width: 570px;
}

.catalog-card__tag {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 13px;
  padding: 10px;
  background-color: rgba(80, 127, 225, 0.7);
  font-family: 'Proxima Nova Regular', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

.catalog-card__image {
  max-width: 100%;
  display: block;
}

.catalog-card__buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.button__fitting {
  color: #507fe1;
  background-color: #ffffff;
}

.button__add {
  color: #ffffff;
  background-color: #7c9fe8;
}

.button__like {
  padding: 0;
  background-color: #507fe1;
  height: 30px;
  width: 30px;
  border: none;
}

.catalog-card:hover .catalog-card__buttons {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

@media (max-width: 1199px) {
  .catalog__card {
    max-width: 470px;
  }
}

@media (max-width: 991px) {
  .catalog__card {
    max-width: 570px;
    margin-bottom: 50px;
  }
  .catalog__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -40px;
  }
}

@media (max-width: 576px) {
  .catalog__card {
    max-width: 570px;
    margin-bottom: 30px;
  }
  .catalog__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -60px;
  }
}

.blog__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.blog__heading__title {
  font-size: 24px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.blog__heading__link {
  text-decoration: underline;
  color: #507fe1;
  font-size: 16px;
}

.blog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog-list__card {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.blog-list__card__image {
  height: 200px;
  overflow: hidden;
}

.blog-list__card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

@media (max-width: 1199px) {
  .blog-list__card {
    margin: 0px 30px 40px;
  }
}

@media (max-width: 740px) {
  .blog__heading {
    display: block;
    text-align: center;
  }
  .blog-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog-list__card {
    margin: 0px 30px 40px;
  }
}

.price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price-card {
  position: relative;
  margin-bottom: 10px;
}

.price-card__pricetag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  z-index: 2;
}

.price-card__text {
  padding: 20px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.price-card__title {
  margin: 0;
  font-size: 15px;
}

.price-card__cost {
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.price-card__button {
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: absolute;
  padding: 20px;
  padding-top: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #ffffff;
  height: 80px;
  z-index: -1;
  display: none;
}

.price-card__button > button:hover {
  cursor: pointer;
}

.price-card:hover .price-card__button {
  bottom: -80px;
  z-index: 99;
  display: block;
}

@media (max-width: 1199px) {
  .price-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .price-block__card {
    margin-bottom: 30px;
  }
}

.step {
  background-color: #f1f1f1;
}

.step-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}

.steps-block:last-child:before {
  display: none;
}

.steps-block:before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: rgba(126, 123, 120, 0.8);
  display: block;
  position: absolute;
  top: 25%;
  right: -58%;
}

.steps__title {
  font-size: 18px;
}

.steps__text {
  max-width: 140px;
  margin: auto;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .step-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .steps-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 50%;
  }
  .steps-block:before {
    display: none;
  }
}

.reviews {
  background-color: #f1f1f1;
}

.reviews-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  margin-bottom: 80px;
}

.reviews-slider__item {
  margin-top: -40px;
}

.reviews-slider__text {
  max-width: 370px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  min-height: 150px;
}

.reviews-slider__text:after {
  content: '';
  border: 10px solid transparent;
  border-top: 10px solid #ffffff;
  height: 10px;
  position: absolute;
  bottom: -30px;
  right: 45%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.reviews-slider__image {
  display: block;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 2px solid #6a99e9;
  margin: 35px auto 20px;
}

@media (max-width: 768px) {
  .reviews {
    display: none;
  }
}

.factory-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.factory__text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-left: 45px;
  font-size: 20px;
}

@media (max-width: 768px) {
  .factory-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .factory__image {
    display: block;
  }
  .factory__text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-left: 0;
    max-width: 400px;
  }
}

@media (max-width: 400px) {
  .factory__image {
    max-width: 320px;
  }
}

.contacts {
  background-color: #f6f7f9;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts-block__item {
  text-align: center;
}

.contacts__text {
  font-size: 16px;
}

.contacts__text a {
  text-decoration: none;
  color: #262626;
}

.contacts__image {
  margin-bottom: 25px;
}

.questions {
  background-color: #ffffff !important;
  padding: 40px 0;
}

.questions-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 700px;
  margin: auto;
}

.questions__title {
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.questions__link {
  font-size: 24px;
  text-decoration: none;
  color: #507fe1;
  padding-bottom: 3px;
  border-bottom: 1px solid #507fe1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.questions__link:hover {
  margin-top: -4px;
  color: #ffffff;
  background-color: #507fe1;
  border-bottom: none;
  padding: 10px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

@media (max-width: 768px) {
  .contacts-block__item {
    width: 100%;
    margin-bottom: 45px;
  }
  .contacts__text {
    width: 200px;
    margin: auto;
  }
}

@media (max-width: 576px) {
  .questions-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer {
  background-color: #262626;
  color: #ffffff;
  padding-top: 70px;
  padding-bottom: 30px;
}

.footer a {
  text-decoration: none;
  color: #ffffff;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__title {
  font-family: 'Proxima Nova Semibold', sans-serif;
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 18px;
  text-transform: uppercase;
}

.footer__subtitle {
  display: block;
  margin-bottom: 48px;
}

.footer__copyright {
  color: #767676;
}

.footer__pay {
  min-width: 347px;
  margin: 0 auto;
}

.footer__pay-logo {
  margin: 15px;
}

.footer__phone {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.footer__contacts {
  text-align: right;
}

.footer__mail {
  display: block;
  margin-bottom: 20px;
}

.footer__icons__link {
  margin-right: 10px;
}

@media (max-width: 991px) {
  .footer__phone {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__pay {
    margin-bottom: 25px;
    min-width: 100%;
  }
  .footer__contacts a {
    text-align: center;
  }
  .footer__icons {
    text-align: center;
    margin-right: -6px;
  }
}

.before__dots {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 28px;
}

.before__dots li {
  width: 10px;
  height: 10px;
  background-color: #d1d1d1;
  border-radius: 50%;
  margin: 5px;
}

.before__dots li:hover {
  cursor: pointer;
}

.before__dots li.slick-active {
  background-color: #5b7fda;
}

.before__dots button {
  display: none;
}

.before-slider-wrap {
  position: relative;
  max-width: 640px;
  margin: auto;
  z-index: 99;
}

.before-slider-arrows {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: -1;
}

.arrow {
  background-color: transparent;
  border: none;
}

.arrow:focus {
  outline: none;
}

.arrow-left {
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  cursor: pointer;
}

.arrow-right {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */