.contacts
   background-color: #f6f7f9
   &-block
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      &__item
         text-align: center
   &__text
      font-size: 16px
      a
         text-decoration: none
         color: $text-color
   &__image
      margin-bottom: 25px
.questions
   background-color: #ffffff!important
   padding: 40px 0
   &-block
      display: flex
      justify-content: space-around
      align-items: center
      max-width: 700px
      margin: auto
   &__title
      font-size: 30px
      +bold 
   &__link
      font-size: 24px  
      text-decoration: none
      color: $primary
      padding-bottom: 3px
      border-bottom: 1px solid $primary
      transition: 0.3s
      &:hover
         margin-top: -4px
         color: #ffffff
         background-color: $primary
         border-bottom: none
         padding: 10px
         +bold


@media (max-width: 768px)
   .contacts
      &-block
         &__item
            width: 100%
            margin-bottom: 45px
      &__text
         width: 200px
         margin: auto
@media (max-width: 576px)
   .questions
      &-block
         flex-wrap: wrap 
         